*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sections{
    margin: 10px 150px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.border{
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.sectionadd{
    border: 1px solid black;
    padding: 7px;
    display: flex;
    justify-content: space-evenly;  
    margin-left: 10px;
    
}
.volumeup{
    position: absolute;
    
}
img:hover{
    background-color: red;
}
.textsizeforsection{
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
}
a{
    text-decoration: none;
}
.forlike:link, .forlike:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.forlike:hover, .forlike:active {
    background-color: green;
    color: white;
}

.fordislike:link, .fordislike:visited {
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.fordislike:hover, .fordislike:active {
    background-color: red;
    color: white;
}

img{
    width: 100%;
    height: 220px;
}




    
